<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <!-- <servlet>
 <servlet-name>abc</servlet-name>
 <servlet-class>com.webproject.AddServlet</servlet-class>
 <init-param>
 <param-name>Phone</param-name>
 <param-value>POCO</param-value>
 </init-param>
 
 </servlet>
 <servlet-mapping>
 <servlet-name>abc</servlet-name>
 <url-pattern>/AddServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>pkr</servlet-name>
 <servlet-class>com.webproject.SqServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>pkr</servlet-name>
 <url-pattern>/sq</url-pattern>
 </servlet-mapping>
 
 
 <context-param>
 <param-name>Phone</param-name>
 <param-value>POCO</param-value>
 
 </context-param>
  -->
 
 
 </web-app>